@import url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhpKKSTjw.woff2);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

.title{
	position: absolute;
	color: white;
	font-family: 'Open Sans', sans-serif;
 	text-decoration: none;
 	text-transform: uppercase;
	font-size: 100px;
 	font-weight: 800;
 	letter-spacing: -3px;
 	line-height: 1;
	position: relative;
	text-align: center;
}

.body{
	position: absolute;
	color: rgba(235, 177, 177, 0.726);
	font-family: 'Open Sans', sans-serif;
 	text-decoration: none;
 	/*text-transform: uppercase;*/
	font-size: 50px;
 	font-weight: 800;
 	letter-spacing: -3px;
 	line-height: 1;
	position: relative;
	text-align: center;
}