body{
	background-color: mediumaquamarine;
}
.title{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: coral;
	border-style: solid;
	border-width: 2px;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 1%;
}
.ltitle{
	margin-top: 0%;
	margin-left: 19%;
}
.buttons{
	border-style: solid;
	margin-right: 87%;  
	margin-left: 2%;
}
.home{
	border-bottom: solid;
}
.information{
	border-bottom: solid;
}
.making{
	border-bottom: solid;
}
.bloopers{
	border-bottom: solid;
}
.pic{
	float: right;
}